.DS_Store
tool/for_trinity/DRR092257_*.fq.gz
tool/trinity/reads.left.fq.gz
tool/trinity/reads.right.fq.gz
tool/trinity/kallisto_out
tool/transdecoder/Trinity.fasta.transdecoder_dir
tool/transdecoder/longest_orfs.SOD_Cu.out
tool/blast/blastdb_trinity_rslt
tool/blast/longest_orfs.SOD_Cu.pep
